/****** Global Styles ******/

body {
    font-family: "Source Sans 3", serif;
    color: #5E5D5E;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

/****** Header Styles ******/

h1 {
    float: left;
    width: 250px;
    font-family: "Lora", serif;
    font-size: 30px;
    color: #7B7E54;
    padding-top: 65px;
    padding-bottom: 65px;
}

header {
    padding-left: 25px;
    padding-right: 25px;
}

header nav {
    width: 800px;
    float: right;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

header nav ul li {
    display: inline-block;
    font-size: 18px;
    color: #727172;
    padding-left: 80px;
}

header nav ul li a {
    text-transform: uppercase;
}


/****** About Styles ******/









/****** Skill Styles ******/









/****** Contact Styles ******/